<header class="container">
  <h1>{{title}}</h1>
</header>
<main>
  <div class="container">
    <a class="waves-effect waves-light btn" href="/posts">Read My Posts</a>
    <a class="waves-effect waves-light btn" href="/posts/create">Create a Post</a>
  </div>
</main>
